*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body{
	font-family: "NoirStd-Regular";
    src: url("NoirStd-Regular.ttf");
}
header{
	position: fixed;
	min-width: 100vw;
	z-index: 1;
}
.nav{
	display: flex;
	align-items: center;
    float: right;
	justify-content: space-between;
	padding: 0rem 5rem;
	background: #015668;
}
.nav h1{
	color: white;
	font-family: "Odachi";
    src: url("Odachi 400.otf");
    margin-right: 732px;
}
.nav-bar{
	list-style: none;
	display: flex;
}
.nav-items a{
	font-size: 25px;
	text-decoration: none;
	color: white;
	padding: 20px;
	font-family: "NoirStd-Regular";
    src: url("NoirStd-Regular.ttf");
}
.hero{
	min-height: 100vh;
    background-image: url("landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   	text-align: center;
    font-size: 45px;
    padding: 230px;
    color: white;
    text-decoration: none;
}
p{
	text-decoration: none;
    font-family: "Noir";
    src: url("NoirStd-Regular.ttf");
    padding: 25px;
    text-shadow: 2px 2px black;
}
.section-container-1{
	min-height: 100vh;
    background-image: url("new-york-page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro2{
    text-align: left;
    font-size: 30px;
    padding: 200px 4%;
    margin: auto;
    color: #ffd369;
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.text1{
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-decoration: none;
}
.button{
    width: auto;
    margin-top: 30px;
    padding: 10px;
    background-color:  #015668;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.section-container-2{
	min-height: 100vh;
}
.intro3{
    text-align: center;
    background-color: #015668;
    background-size: cover;
    padding: 45px;   
    font-family: "Noir";
    src: url("Medium 500.otf");
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.title{
    text-shadow: 1px 1px black;
}
.title1{
    text-shadow:2px 2px black;
}
.box1{
    width: 300px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 7px;
    padding: 20px;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 16px;
    color: black;
    position: absolute;
}
.box2{
    width: 300px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 7px;
    padding: 20px;
    font-size: 16px;
    color: black;
    margin-left: 510px;
    margin-top: 40px;
    position: absolute;

}
.box3{
    width: 300px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 7px;
    padding: 20px;
    font-size: 16px;
    color: black;
    margin-left: 950px;
    margin-top: 40px;
    position: absolute;
}
.open1{
    text-align: center;

}
.section-container-3{
	min-height: 100vh;
    background-image: url("contact-mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.box{
    width: 300px;
    text-align: center;
    background: rgba(2, 54, 133, 0.411);
    padding: 70px;
    margin-left: 540px;
    font-size: 16px;
    color: #ffd369;
}
.contact1{
    text-shadow: 1px 1px black;
    padding: 10px;
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
}
.contact{
    text-shadow: 1px 1px black;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}
input[type=text]{ 
    padding: 7px;
    border: 1px solid #cccccc;
}
.back-to-top{
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 3rem;
	transform: translate(-50%, -50%);
}
