body
{
    color:aliceblue;
    background-image: url(tanawin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 
}
h1
{
    color:aquamarine;
}
h2
{
    color:aquamarine;
}
