* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
	text-align: center;
}
body
{
	background-color: gray;
    background-size: 100%;
    font-family: sans-serif;
}
img{
	float: left;
	margin-left: 6px;
	padding-top: 6px;
}
p{
	padding-top: 22px;
	margin-right:222px;
	text-align: justify;
	float: right;
}
.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
	background-color: yellow;
}
.skill{
	font-size: 250%;
	margin-top: 50px;
	padding-left: 40px;
}
li a{
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 150%;
	text-align: left;
}
li a:hover{
	background-color: black;
	color: white;
}
.active{
	background-color: green;
	color: white;
}
.footer1{
	text-align: center;
}
.footer2{
	text-align: center;
	padding: 300px;
}
.footer3{
	text-align: center;
	margin-top: 105px;
}
.footer4{
	text-align: center;
	padding: 300px;
}
